<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__title"><a href="#">Poly Book Store</a></li>
            <li class="main-header__item"><a href="/admin">Sản phẩm</a></li>
            <li class="main-header__item"><a href="/admin/add-product">Thêm sản phẩm</a></li>
        </ul>
    </nav>
    <main align="center" class="form-middle">
        <form class="product-form" action="/api/edit-product/<%= currProduct.idProduct %>" method="POST">
            <label>Tên sản phẩm</label>
            <br/>
            <input type="text" name="name" value="<%= currProduct.nameProduct %>">
            <br/>
            <label>Giá</label>
            <br/>
            <input type="text" name="price" value="<%= currProduct.priceProduct %>">
            <br/>
            <label>Mô tả</label>
            <br/>
            <input type="text" name="desc" value="<%= currProduct.sortDescription %>">
            <br/>
            <br/>
            <button type="submit">Edit</button>
        </form>
    </main>
</body>

</html>